<section>
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div id="game_review_board" style="width: 400px" data-fen="<%=game.final_position%>" data-pgn="<%=game.pgn%>"></div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.1/chess.js"
    integrity="sha384-8sJV/krC8iV2g7t0PolQxFVckDtxhfM5gNHNAFPG2ZS/bScudOjfsB8ewhG2xle8"
      crossorigin="anonymous"></script>
<script type='module' src="/review.js"></script>
<!-- // <script type='module' src="/main.js"></script> -->