  <section class='main-section'>
    <div class="container">
      <div class="row" style="padding: 0px 20px">
        <div class="col-5">
          <div class="container main-board">
            <div id="myBoard" style="width: 500px"></div>
          </div>
        </div>
        <div class="col-7 main-buttons">
          <h1 class="display-1 mb-4 py-2">Let's Play!</h1>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <a href="online.html">
                  <div class='main-button playonline-button mx-auto align-middle'>
                    Play Online
                  </div>
                </a>
              </div>
              <div class="col-12">
                <div class='main-button playoffline-button mx-auto py-auto'>
                  Play Computer
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>