<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="form-title text-center">
                        <h4>Login</h4>
                      </div>
                      <div class="d-flex flex-column text-center">
                        <form action="/user/login" method="POST">
                          <% if(success_msg.length > 0) { %>
                            <div class="alert alert-success">
                                <%= success_msg %>
                            </div>
                          <% } %>
                          
                          <% if(error_msg.length > 0) { %>
                              <div class="alert alert-danger">
                                  <%= error_msg %>
                              </div>
                          <% } %>
                          <div class="form-group">
                            <input type="username" name='username' class="form-control" id="email1"placeholder="Username">
                          </div>
                          <div class="form-group">
                            <input type="password" name='password' class="form-control" id="password1" placeholder="Password">
                          </div>
                          <input type="submit" class="btn btn-info btn-block btn-danger" id="bt" value="login">
                        </form>
        
                        <div class="text-center text-muted delimiter">or use a social network</div>
                        <div class="d-flex justify-content-center social-buttons">
                          <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fab fa-twitter"></i>
                          </button>
                          <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fab fa-facebook"></i>
                          </button>
                          <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                          </button>
                        </di>
                      </div>
                    </div>
                  </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <div class="signup-section">Not a member yet? <a href="/signup" class="text-info"> Sign Up</a>.</div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>