<section style="background-color: black; background-size: cover;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="matchMakingButtons mx-auto text-center py-4">
        <button id='createGame' class='btn btn-primary'>Create game</button>
        <br>
        <input id='gameId' type="number" placeholder="Enter Room Id">
        <button id='joinGame' class='btn btn-success my-2'>Join game</button>
      </div>

      <!-- board play -->
          <div class="col-md-4 col-lg-6">
            <div id="parent">
              <div class="player-card player-2">
                <div class="rows row-1">
                  <div class="icon"></div>
                  <div class="text">
                    <div class="headline"><h4 class="text-white">Player 1</h4></div>
                    <div class="status">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="rows row-2">
                  <div class="timer">
                    <span>00:00</span>
                  </div>
                </div>
              </div>

              <div id="myBoard" style="width: 600px; margin:auto"></div>

              <div class="player-card player-1">
                <div class="rows row-2">
                  <div class="timer">
                    <span>00:00</span>
                  </div>
                </div>
                <div class="rows row-1">
                  <div class="icon"></div>
                  <div class="text">
                    <div class="headline"><h4 class="text-white">Player 2</h4></div>
                    <div class="status">
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- review -->

          <div id='gameControls' class="col-xl-4 col-md-12 mt-5">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <h4>12</h4>
                            <p class="text-muted">Move</p>
                              <p class="text-muted">Room ID: 2108074408 <i class="icon icon-clone"></i></p>
                        </div>
                        <div class="col-auto">
                            <label class="label label-danger">+20%</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                              <label for="" id="gameStatus"></label>
                              <label for="" id='gamePGN' class="label-Sc">
                              </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card quater-card  gad">
              <div class="row">
                <div class="col-md-2 col-sm-2 b"> <button class="btn waves-effect waves-light btn-inverse"><i class="icon icon-to-start"></i></button></div>
                <div class="col-md-2 b"> <button class="btn  btn-inverse "><i class="icon icon-left-open-1"></i></button></div>
                <div class="col-md-2 b"> <button class="btn waves-effect waves-light btn-inverse "><i class="icon icon-right-open-1"></i></button></div>
                <div class="col-md-2 b"> <button class="btn waves-effect waves-light btn-inverse "><i class="icon icon-to-end"></i></button></div>
                </div>
            </div>
            <div class="card quater-card">
              <div class="row">
                <div class="col-md-2 m-1 a"> <button class="btn waves-effect waves-light btn-danger btn-1"><i class="icon icon-road"></i></button></div>
                <div class="col-md-2 m-1 a"> <button class="btn  btn-danger btn-1" alt="resign"><i class="icon icon-flag-empty"></i></button></div>
                <div class="col-md-2 m-1 a"> <button class="btn waves-effect waves-light btn-danger btn-1"><i class="icon icon-retweet"></i></button></div>
                <div class="col-md-2 m-1 a"> <button class="btn  btn-danger btn-1"><i class="icon icon-share"></i></button></div>
                <div class="col-md-2 m-1 a"> <button class="btn  btn-danger btn-1"><i class="icon icon-cog"></i></button></div>
                </div>
            </div>

            <!-- <div class="card quater-card">
                <div class="card-block">
                    <h6 class="text-muted m-b-15">Analysis</h6>

                    <p class="text-muted">great <span>black</span></p>
                    <h5>87</h5>
                    <p class="text-muted">Black<span class="f-right">80%</span></p>
                    <div class="progress"><div class="progress-bar bg-c-blue" style="width: 80%"></div></div>
                    <h5 class="m-t-15">68</h5>
                    <p class="text-muted">white<span class="f-right">50%</span></p>
                    <div class="progress"><div class="progress-bar bg-c-green" style="width: 50%"></div></div>
                </div>
            </div> -->
        </div>

      <!-- End -->
        <!-- right side -->

    </div>
  </div>
  <div id="footer-bottom">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6-r text-center copyright">
          <p>© 2024 Fisher Club. All rights reserved.</p>
        </div>

      </div>
    </div>
  </div>
</section>

<script>const USER = "<%=session.user.id%>"</script>
<script type='module' src="/main.js"></script>