.small-board{
    height:200px;
    width:200px;
}

.games-container{
    margin:auto;
    text-align:center !important;
}

.gameLink{
    margin-bottom:10px;
    height:200px;
    width:200px;
    display:inline-block;
}

.game-card{
    width:80%;
    margin:auto;
}

.game_review_board{
    width:300px;
    height:300px;
}

.moveCard{
    cursor:pointer;
}

.boardArrow{
    width:50px;
}

#gameControls{
    display:none;
}

.highlightedMove{
    background-color: #f17b7b; /* Light yellow background */
    border: 2px solid #ffa500; /* Orange border */
    color: #000; /* Black text color for better contrast */
    font-weight: bold; /* Make the text bold */
    transition: all 0.1s ease; /* Smooth transition for hover effects */
}